html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Global elements */

/* Menu */
.navigation{
	border:0px;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
   background-color: #353b48;
	 position: relative ;
	 padding: 2vh;
	 font-family: DINPro;
	 font-weight: 400;
}

li {
  display: block;
	float: left;
}

li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
	padding-left: 2vh;
	padding-right: 2vh;

}

a {
  	color: #ffffff;
	  text-decoration: none;
}

li a:hover {
  color: #ffffff;
	text-decoration:none;
}

p a:hover {
  color: #ffffff;
	text-decoration:none;
}

/* Footer */
footer {
	background-color:#1F4652 ;
	width:100%;
	color: white;
}

.footer-row {
	display: flex;
	padding:10px;
}

.footer-column {
	float: left;
}

.footer-left {
	padding: 20px;
}

.nav-footer {
	margin: 5px 0px 5px 0px;
}

.footer-right {
	 display: block;
	 margin-left: auto;
	 width: 30%;
	 position: relative;
	 padding: 20px;
}

.social-images img {
	margin-right: 10px;

}

.footer-bottom {
	text-align: center;
}

/* Home */

.header-home {
	height: 750px;
	text-align: left;
	background: #487eb0;
	font-size: 42px;
	color: #383838;
	padding-left: 60px;
	font-weight: 400;
}

.intro{
	padding-top: 50px;
	letter-spacing: 2px;
	text-align: center;
}
.info {
	padding-top:200px;
	font-size:18px ;
	color:black ;
	text-decoration: none;
}

#experience {
	height: 500px;
	padding: 10px;
	text-align: center;
	font-size: 42px;
	color: #383838;
	font-weight: bold;
}

/* About */
.header-about {
	height: 300px;
 	text-align: center;
 	background: #F1F1F1;
}

/* Work */
.header-work {
	height: 300px;
 	background: #F1F1F1;
}

.work {
	text-align: center;
}

/* Contact */
.header-contact {
	height: 300px;
 	text-align: left;
 	background: #F1F1F1;
}


.contact {
	text-align: center;

}
