html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hero, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, hero, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	margin-bottom: 0 !important;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

/* Global elements */

/* Menu */
body {
	font-family: 'Inter';
}

nav{
   width: 100%;
	 position: fixed;
	 border:0px;
	 background-color: #ffffff;
	 position: relative ;
	 font-weight: 400;
	 text-align: right;
}

nav ul li {
	display: inline-block;
	padding: 10px
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 0 5px;
  position:relative;
  z-index: 1;
  padding: 10px;
}

/*
a {
  color: #4F4F4F;
  text-decoration: none;
  transition: 0.3s ease all;

}
*/

li a:hover {
  color: #353b48;
  text-decoration:none;
}

h1 {
	font-size: 64px;
	font-family: 'IBM Plex Mono', monospace;
}

h2 {
	font-size: 48px;
	font-family: 'IBM Plex Mono', monospace;

}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 24px;
	font-family: 'IBM Plex Mono', monospace;

}


.row {
	padding: 10px;
}

/* Home */

.hero-home {
	position: relative;
	height: 55vh;
	background: #353b48;
	color: #FFFFFF;
	font-weight: bold;
}

@media (max-width: 770px) {
.hero-home {
	height: 55vh;
 }
 .hero-home h1 {
     font-size: 2.225rem;
   }
}

@media (max-width: 325px) {
.hero-home {
	height: 62vh;
 }
}

.intro{
	letter-spacing: 2px;
	vertical-align: middle;
}

.hero-content {
	padding-bottom: 30px;
	font-family: 'IBM Plex Mono', monospace;
}

.cta {
	text-align:center;
}

.cta a {
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	border: 2px solid #ffffff;
	padding: 10px;
	background-image: -webkit-linear-gradient(45deg, #ffffff 50%, transparent 50%);
	background-image: linear-gradient(45deg, #ffffff 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
}


.cta a:hover {
	background-position: 0;
	color: black;
	text-decoration: none;
}

.big-box h3 {
	display: table-caption;
}

@media (max-width: 770px) {
.big-box {
	text-align: center;
	display: inline-grid;
 }
}

@media (max-width: 770px) {
.mini-box-title {
	text-align: center;
 }
}

.mini-box {
	display: flex;
	flex-direction: column;
    justify-content: center;
	height: 30vh;
	background-color: #353b48;
	margin: 10px;
	color: white;
	line-height: normal;
}

@media (max-width: 770px) {
.mini-box {
	margin: 50px 50px 0 50px;
	height: 50vh;

 }
}

.mini-box p {
	vertical-align: middle;
	align-items: center;
	align-items: flex-start;
	padding-top: 10px;
	padding-bottom: 40px;
	font-weight: bold;

}

.mini-box img {
	align-items: flex-start;
	height: 10%;
	align-self: start;

}

.mini-box a {
	color: white;
	padding-top: 20px;

}

.mini-box a:hover {
	color: white;
	text-decoration: none;
}

.working-with h4 {
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}

/* About */
.hero-about {
 	text-align: center;
}

.about-hero-content {
	padding: 150px;
}

@media (max-width: 770px) {
.about-hero-content {
	padding: 80px 0 80px 0;
 }
 .about-img {
	width: 100%;
 	height: auto;
 }
}

.about-content {
	align-self: center;
	line-height:normal;
}

/* Work */
#work {
	padding:150px;
}

#work p {
	font-size: 14px;
	padding: 15px 0 15px 0;
	margin-bottom: 10px;
}

#work a {
	font-size: 14px;
	color: black;
	border: 2px solid #353b48;
	padding: 10px;
	background-image: -webkit-linear-gradient(90deg, #353b48 50%, transparent 50%);
	background-image: linear-gradient(90deg, #353b48 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
}

#work a:hover {
	background-position: 0;
	color: white;
	text-decoration: none;
}


.work-row {
	padding:50px;
}

.my-work {
	text-align: center;
	padding: 100px;
}

.work-img {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 770px) {
  #work {
	padding:0px;
  }
  .my-work {
	padding: 200px 0 0 0;
  }
}

.project-description {
	line-height: normal;
	padding: 15% 0;
}

.project-description p {
	padding: 10px 0 5px 0;
}

.content {
	align-self: center;
}

.preactiv {
	align-self: center;
	line-height:normal;
	margin-left: 50px;
}


.one-guys {
	align-self: center;
	line-height:normal;
}

.fibre {
	align-self: center;
	line-height:normal;
	margin-left: 50px;
}

.lm {
	align-self: center;
	line-height:normal;
}


@media only screen and (max-width: 770px){
	.one-guys-img {
	 order: 0;
   }
	.one-guys {
	 order: 1;
	 margin-right: 0px;
	}
	.preactiv {
		margin: 0;
	}
	.fibre {
		margin: 0;
	}
	.lm {
		order: 1;
	}
	.lm-img {
		order: 0;
	}
}
}


.container {
  margin-top: 20px;
  overflow: hidden;
}


/* Footer */
footer {
	background-color: #353b48;
	width:100%;
	color: white;
	padding: 10px;
}

.footer-flex {
	display: flex;
}

.footer-email {
	color: white;
}

.footer-email:hover {
	color: white;
	text-decoration: none;
}

.nav-footer a {
	margin: 5px 0px 5px 0px;
	color: white; !important
}

.nav-footer li {
	display: inline-block;
	padding-right: 10px;
}


.social-images img {
	margin-right: 10px;

}

.follow {
	text-transform: uppercase !important;
}

@media only screen and (max-width: 770px){
	.footer-email {
		order: 1;
	}
	.social-images {
		order: 0;
		padding-bottom: 20px;
	}
	.follow {
		padding-top: 20px;
	}
}
